:root {
  --bkColor: #062c30;
  --bkColorL: #05595b;
  --ltColor: #e2d784;
  --wtColor: #f5f5f5;
}

.box {
  width: 100vw;
  height: 100vh;
  background-color: var(--bkColor);
  box-sizing: border-box;
  position: absolute;
  transition: 0.5s;
}

.box::-webkit-scrollbar {
  display: none;
}
